@font-face {
    font-family: 'Recursive';
    src: url('/assets/fonts/Recursive.woff2') format('woff2-variations');
    font-weight: 300 1000;
}

:root {
    --theme-white: #fafeff;
    --theme-extra-light: #E3F8FF;
    --theme-reasonably-light: #d7f5ff;
    --theme-light: #84D6F2;
    --theme-bright: #009ACE;
    --theme-dark: #09303D;
    --theme-reasonably-dark: #041e27;
    --theme-extra-dark: #020F13;
    --theme-black: #000303;

    --background: var(--theme-white);
    --surface-0: var(--theme-extra-light);
    --surface-1: var(--theme-reasonably-light);
    --surface-2: var(--theme-light);
    --primary: var(--theme-bright);
    --text: var(--theme-extra-dark);
    --border: var(--theme-dark);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--theme-extra-dark);
        --surface-0: var(--theme-extra-dark);
        --surface-1: var(--theme-dark);
        --surface-2: var(--theme-reasonably-dark);
        --primary: var(--theme-bright);
        --text: var(--theme-extra-light);    
        --border: var(--theme-light);
    }
}

body,
html {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);

    font-family: 'Recursive', sans-serif;
    font-variation-settings: 'CASL' 0.4;
}

header {
    background-color: var(--surface-2);
    color: var(--text);
    display: flex;
    align-items: center;
    height: 1rem;
    padding: 1rem 1.5rem;
}

header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 0.25rem;
}

header a {
    display: flex;
    align-items: center;
    gap: 4px;
    color: inherit;
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 1200px;
    transition: cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}

header a:hover {
    background-color: var(--primary);
    color: var(--text);
}

header a:active {
    transform: scale(0.9);
}

main {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 0 1rem;
}

main.narrow {
    max-width: 800px;
}

.forums {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.forum {
    background-color: var(--surface-1);
    padding: 1rem 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.forum-link {
    display: flex;
    flex-direction: column;
    height: min-content;
    transition: cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
    border-radius: 12px;
    overflow: hidden;
}
.forum-link:hover {
    transform: scale(1.03);
    box-shadow: 0 0 0 4px var(--border);
}
.forum-link:active {
    transform: scale(0.98);
    box-shadow: 0 0 0 8px var(--border);
}

.forum h3, .forum p {
    margin: 0;
}

a.forum-link {
    color: inherit;
    text-decoration: none;
}

.forum-link img {
    width: 100%;
    height: 8rem;
    object-fit: cover;
}